:root[data-theme="dark-warm"] {
	--background: rgb(14, 13, 11);
	--foreground: oklch(0.985 0.006 60);
	--card: oklch(0.21 0.008 60);
	--card-foreground: oklch(0.985 0.006 60);
	--popover: oklch(0.21 0.008 60);
	--popover-foreground: oklch(0.985 0.006 60);
	--primary: oklch(0.94 0.008 60);
	--primary-foreground: oklch(0.21 0.008 60);
	--secondary: oklch(0.27 0.008 60);
	--secondary-foreground: oklch(0.985 0.006 60);
	--muted: oklch(0.27 0.008 60);
	--muted-foreground: oklch(0.71 0.01 60);
	--accent: oklch(0.27 0.008 60);
	--accent-foreground: oklch(0.985 0.006 60);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0.006 60 / 10%);
	--input: oklch(1 0.006 60 / 15%);
	--ring: oklch(0.56 0.015 60);
	--dius: 0.625rem;
	--chart-1: oklch(0.87 0.006 60);
	--chart-2: oklch(0.56 0.01 60);
	--chart-3: oklch(0.44 0.01 60);
	--chart-4: oklch(0.37 0.01 60);
	--chart-5: oklch(0.27 0.006 60);
	--sidebar: oklch(0.19 0.008 60);
	--sidebar-foreground: oklch(0.985 0.006 60);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0.006 60);
	--sidebar-accent: oklch(0.27 0.008 60);
	--sidebar-accent-foreground: oklch(0.985 0.006 60);
	--sidebar-border: oklch(1 0.006 60 / 10%);
	--sidebar-ring: oklch(0.56 0.015 60);
}
