@layer utilities {
	/* ripple */
	.ripple {
		position: relative;
		overflow: hidden;
		isolation: isolate;
		--ripple-color: var(--secondary);
		--ripple-speed: 0.4s;
	}

	.ripple-element {
		position: absolute;
		border-radius: 50%;
		background-color: var(--ripple-color);
		pointer-events: none;
		transform: translate(-50%, -50%);
		z-index: -1;
	}

	/* shell container */
	.shell {
		display: flex;
		flex-direction: column;
		position: relative;
		gap: 0.5rem;
		padding: 1rem;
		background: var(--card);
		border: 1px solid var(--secondary);
		border-radius: 14px;
	}

	/* skeleton */
	@keyframes skeletonAnimation {
		0% {
			background-position: 200% 0;
		}
		100% {
			background-position: -200% 0;
		}
	}

	.skeleton {
		position: relative;
		background: linear-gradient(
			90deg,
			var(--card) 25%,
			var(--secondary) 37%,
			var(--card) 63%
		);
		background-size: 200% 100%;
		overflow: hidden;
		animation: 4s skeletonAnimation ease-in-out infinite alternate;
	}

	/* acrylic */
	.acrylic {
		background: var(--bg-a-0);
		backdrop-filter: blur(12px);
	}

	/* Radix entry/exit transitions */
	@keyframes enter {
		from {
			opacity: var(--tw-enter-opacity, 1);
			transform: translate3d(
					var(--tw-enter-translate-x, 0),
					var(--tw-enter-translate-y, 0),
					var(--tw-enter-translate-z, 0)
				)
				scale3d(
					var(--tw-enter-scale, 1),
					var(--tw-enter-scale, 1),
					var(--tw-enter-scale, 1)
				)
				rotate(var(--tw-enter-rotate, 0));
		}
	}

	@keyframes exit {
		to {
			opacity: var(--tw-exit-opacity, 1);
			transform: translate3d(
					var(--tw-exit-translate-x, 0),
					var(--tw-exit-translate-y, 0),
					var(--tw-exit-translate-z, 0)
				)
				scale3d(
					var(--tw-exit-scale, 1),
					var(--tw-exit-scale, 1),
					var(--tw-exit-scale, 1)
				)
				rotate(var(--tw-exit-rotate, 0));
		}
	}

	.animate-in {
		animation-name: enter;
		animation-duration: 250ms;
		animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
		animation-fill-mode: forwards;
	}

	.animate-out {
		animation-name: exit;
		animation-duration: 180ms;
		animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
		animation-fill-mode: forwards;
	}

	.fade-in-0 {
		--tw-enter-opacity: 0;
	}

	.fade-out-0 {
		--tw-exit-opacity: 0;
	}

	.zoom-in-95 {
		--tw-enter-scale: 0.95;
	}

	.zoom-out-95 {
		--tw-exit-scale: 0.95;
	}

	.slide-in-from-left-1\/2 {
		--tw-enter-translate-x: -50%;
	}

	.slide-in-from-top-48\% {
		--tw-enter-translate-y: -48%;
	}

	.slide-out-to-left-1\/2 {
		--tw-exit-translate-x: -50%;
	}

	.slide-out-to-top-48\% {
		--tw-exit-translate-y: -48%;
	}

	.slide-in-from-right {
		--tw-enter-translate-x: 100%;
	}

	.slide-out-to-right {
		--tw-exit-translate-x: 100%;
	}

	.slide-in-from-left {
		--tw-enter-translate-x: -100%;
	}

	.slide-out-to-left {
		--tw-exit-translate-x: -100%;
	}

	.slide-in-from-top {
		--tw-enter-translate-y: -100%;
	}

	.slide-out-to-top {
		--tw-exit-translate-y: -100%;
	}

	.slide-in-from-bottom {
		--tw-enter-translate-y: 100%;
	}

	.slide-out-to-bottom {
		--tw-exit-translate-y: 100%;
	}
}
