@layer components {
    /* button */
    .button {
        display: flex;
        gap: 0.2rem;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        min-width: 2.75rem;
        min-height: 2.75rem;
        padding: 0.75rem;
        border-radius: 200rem;
        background: var(--bg-2);
        border: 1px solid var(--bg-3);
        transition: 0.3s all;
        outline: 2px solid transparent;
    }

    .button:hover {
        background: var(--bg-3);
    }

    .button:focus-visible {
        outline: 2px solid var(--blue-2);
    }

    /* dialog */
    dialog {
        margin: 0;
        padding: 0.25rem;
        border: 0;
        outline: 0;
        background: transparent;
        overflow: visible;
    }

    dialog {
        transition:
            opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1),
            display 0.3s cubic-bezier(0.4, 0, 0.2, 1) allow-discrete,
            overlay 0.3s cubic-bezier(0.4, 0, 0.2, 1) allow-discrete;
    }

    dialog::backdrop {
        background: var(--backdrop);
        opacity: 0;
        transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }

    dialog[open]::backdrop {
        opacity: 1;
    }

    @starting-style {
        dialog[open]::backdrop {
            opacity: 0;
        }
    }

    /* img */
    img {
        filter: invert(var(--invert-1)) grayscale(1);
        transition: 0.1s;
    }
}
